USE [master]
GO
/****** Object:  Database [ВарианТ 3]    Script Date: 13.05.2023 10:44:40 ******/
CREATE DATABASE [ВарианТ 3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ВарианТ 3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ВарианТ 3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ВарианТ 3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ВарианТ 3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ВарианТ 3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ВарианТ 3]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 13.05.2023 10:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[Номер] [nvarchar](50) NULL,
	[ID] [nvarchar](50) NULL,
	[Услуга] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 13.05.2023 10:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[ФИО] [nvarchar](255) NULL,
	[Код клиента] [float] NULL,
	[Паспортные данные] [nvarchar](255) NULL,
	[Дата рождения] [datetime] NULL,
	[Адрес] [nvarchar](255) NULL,
	[e-mail] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 13.05.2023 10:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[Код_роли] [nvarchar](50) NULL,
	[Код_сотрудника] [nvarchar](50) NULL,
	[ФИО] [nvarchar](255) NULL,
	[Дата_рождения] [datetime] NULL,
	[Адрес] [nvarchar](255) NULL,
	[Должность] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 13.05.2023 10:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[Код сотрудника] [nvarchar](50) NOT NULL,
	[Должность] [nvarchar](255) NULL,
	[ФИО ] [nvarchar](255) NULL,
	[Логин ] [nvarchar](255) NULL,
	[Пароль] [nvarchar](255) NULL,
	[Последний вход] [nvarchar](255) NULL,
	[Тип входа] [nvarchar](255) NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[Код сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 13.05.2023 10:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[ID] [float] NULL,
	[Наименование услуги] [nvarchar](255) NULL,
	[Код услуги] [nvarchar](50) NOT NULL,
	[Стоимость, руб#  за час ] [float] NULL,
 CONSTRAINT [PK_Услуги] PRIMARY KEY CLUSTERED 
(
	[Код услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Чек]    Script Date: 13.05.2023 10:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Чек](
	[Код чека] [float] NULL,
	[Код услуги] [float] NULL,
	[Код клиента] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Заказы] ([Номер], [ID], [Услуга]) VALUES (N'1', N'1', N'34')
INSERT [dbo].[Заказы] ([Номер], [ID], [Услуга]) VALUES (N'2', N'1', N'31')
INSERT [dbo].[Заказы] ([Номер], [ID], [Услуга]) VALUES (N'3', N'1', N'353')
GO
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Фролов Андрей Иванович', 45462526, N' 1180  176596', CAST(N'2001-07-14T00:00:00.000' AS DateTime), N'344288, г. Санкт-Петербург, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com', N'cl12345')
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Николаев Даниил Всеволодович', 45462527, N' 2280  223523', CAST(N'2001-02-10T00:00:00.000' AS DateTime), N'614164, г. Санкт-Петербург, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com', N'cl12346')
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Снегирев Макар Иванович', 45462528, N' 4560  354155', CAST(N'1998-05-21T00:00:00.000' AS DateTime), N'394242, г. Санкт-Петербург, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com', N'cl12347')
GO
INSERT [dbo].[Роли] ([Код_роли], [Код_сотрудника], [ФИО], [Дата_рождения], [Адрес], [Должность]) VALUES (N'1', N'ID 101', N'Иванов Иван Иванович', CAST(N'2012-01-12T00:00:00.000' AS DateTime), N'Челябинск ул. Красная д. 81', N'Продавец')
INSERT [dbo].[Роли] ([Код_роли], [Код_сотрудника], [ФИО], [Дата_рождения], [Адрес], [Должность]) VALUES (N'2', N'ID 102', N'Петров Петр Петрович', CAST(N'2012-01-13T00:00:00.000' AS DateTime), N'Челябинск ул. Красная д. 82', N'Продавец')
INSERT [dbo].[Роли] ([Код_роли], [Код_сотрудника], [ФИО], [Дата_рождения], [Адрес], [Должность]) VALUES (N'3', N'ID 103', N'Федоров Федор Федорович', CAST(N'2012-01-14T00:00:00.000' AS DateTime), N'Челябинск ул. Красная д. 83', N'Администратор')
GO
INSERT [dbo].[Сотрудники] ([Код сотрудника], [Должность], [ФИО ], [Логин ], [Пароль], [Последний вход], [Тип входа]) VALUES (N'ID 101', N'Продавец', N'Иванов Иван Иванович', N'Ivanov@namecomp.ru', N'2L6KZG', N'15:05:2022 13:13:00', N'Успешно')
INSERT [dbo].[Сотрудники] ([Код сотрудника], [Должность], [ФИО ], [Логин ], [Пароль], [Последний вход], [Тип входа]) VALUES (N'ID 102', N'Продавец', N'Петров Петр Петрович', N'petrov@namecomp.ru', N'uzWC67', N'15:05:2022 13:13:00', N'Успешно')
INSERT [dbo].[Сотрудники] ([Код сотрудника], [Должность], [ФИО ], [Логин ], [Пароль], [Последний вход], [Тип входа]) VALUES (N'ID 103', N'Администратор', N'Федоров Федор Федорович', N'fedorov@namecomp.ru', N'8ntwUp', N'15:05:2022 13:13:00', N'Успешно')
GO
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость, руб#  за час ]) VALUES (98, N'Прокат самоката', N'63748HF', 700)
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость, руб#  за час ]) VALUES (123, N'Инструктор по катанию на лодке', N'638VVNQ3', 1200)
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость, руб#  за час ]) VALUES (353, N'Прокат шлема', N'87FDJKHJ', 400)
GO
INSERT [dbo].[Чек] ([Код чека], [Код услуги], [Код клиента]) VALUES (1, 34, 45462526)
INSERT [dbo].[Чек] ([Код чека], [Код услуги], [Код клиента]) VALUES (1, 31, 45462526)
INSERT [dbo].[Чек] ([Код чека], [Код услуги], [Код клиента]) VALUES (1, 353, 45462526)
GO
ALTER TABLE [dbo].[Роли]  WITH CHECK ADD  CONSTRAINT [FK_Роли_Сотрудники] FOREIGN KEY([Код_сотрудника])
REFERENCES [dbo].[Сотрудники] ([Код сотрудника])
GO
ALTER TABLE [dbo].[Роли] CHECK CONSTRAINT [FK_Роли_Сотрудники]
GO
USE [master]
GO
